.offcanvas {
   width: 250px !important;
 }
 
 .sidebar-menu {
   display: flex;
   align-items: center;
   gap: 24px;
   
   .sidebar-logo{
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
   }
 }
 
 .offcanvas-header {
   padding-top: 4px !important;
   padding-bottom: 4px !important;
 }
 
 .sidebar-close {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   text-align: center;
   border: none;
   transition: 0.5s;
 }
 
 .offcanvas-body {
   padding-left: 12px !important;
 }
 
 .sidebar-top {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-bottom: 12px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.13);
   img{
      width: 22px;
   }
 }
 
 .sidebar-option,
 .subscriptions-box {
   width: 200px !important;
   background-color: transparent;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 10px;
   transition: 0.25s;
   border-radius: 4px;
   cursor: pointer;
 }
 
 .sidebar-option:hover,
 .subscriptions-box:hover {
   background-color: rgba(0, 0, 0, 0.1);
 }
 
 .sidebar-option-btn {
   display: flex;
   align-items: center;
   gap: 24px;
   background-color: transparent;
   border: none;
   color: #fff;
 
   p {
     color: #000;
     font-size: 14px;
     font-weight: 400;
   }
 }
 
 .sidebar-middle {
   padding-top: 12px;
   padding-bottom: 12px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.13);
   img{
      width: 22px;
   }
 }
 
 .sidebar-bottom {
   padding-top: 18px;
   padding-left: 12px;
   .channel-img{
      width: 28px;
   }
 }
 
 .subscriptions-text {
   color: #fff;
   font-size: 14px;
   font-weight: 700;
   padding-bottom: 12px;
 }
 
 .subscriptions-box {
   display: flex;
   gap: 24px;
   align-items: center;
   color: #fff;
   text-decoration: none;
 }
 

 
 .channel-img {
   width: 24px;
   height: 24px;
   border-radius: 50%;
 }

 .line{
   color: #fff;
   background-color: #fff;
 }